body {
    background-color: rgb(0, 0, 0);
    /* color: #f30d0d; */
}
#result{
    visibility: none;
    color: aliceblue;
    font-size: 2rem;
    font-weight: bold;
    margin: 20px auto;
    padding: 20px;
    width: auto;
    border: 2px solid aliceblue;

}
.navbar {
    min-height: 6rem;
}

button[type="submit"] {
    margin-inline: 3rem;
}
label {
    color: aliceblue;
    font-size: 2rem;
}

#second {
    display: none; /* Initially hide the second container */
}


.navbar-brand img {
    max-height: 200%;
    padding: 0 1rem;
}

.navbar-brand h3 {
    font-size: 1.5rem;
    margin: 0;
    padding-top: 0.5rem;
}
.container {
    /* background-color: antiquewhite; */
    width: 30%;
    /* min-width: fit-content; */
    margin: 70px auto;
     /* Center the container horizontally */
}
.navbar-right {
    margin-top: 0.5rem;
    font-size: 2rem;
}
p{
    /* margin: 20px auto; */
    padding: 20px;
color: aliceblue;
font-size: 2rem;
/* border: 2px solid aliceblue; */
}
label {
    color: aliceblue;
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
}
h2{
    color: aliceblue;
}
@media (max-width: 767px) {
    .navbar-right {
        margin-top: 0; /* Adjust spacing for small screens */
    }
}