<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" />
    <link rel="stylesheet" href="../static/css/index.css">
    
</head>

<body>
    <div class="main">
        <header class="row align-self-start">
            <div class="logo col-lg-2 col-md-2 col-sm-2 col-4 row align-item-center ">
                <img src="https://plus.unsplash.com/premium_photo-1683141316518-70595b251f01?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwyfHx8ZW58MHx8fHx8"
                    class="col-lg-10 col-md-12 col-sm-12 img-fluid img-thumbnail" alt="logo" srcset="">
            </div>
            <div class="website col-lg-4 col-md-4 col-sm-6 col-8" id="website">
                <center>
                    <p style="font-size: 4rem; padding-top: 5%;"> Student data prediction</p>
                </center>
            </div>
            <div class="menu col-lg-6 col-md-6 col-sm-4 col-12 navbar-right  align-self-center" id="ref">
                <a href="index">Home</a>
                <a href="register">Register</a>
                <a href="login">Login</a>
                <a href="contact">Contact Us</a>
            </div>
        </header>
        <div class="mainia">
            <h1 data-value="HELLO USER" id="textf">HELLO USER</h1>
            <script src="../static/js/index.js"></script>
        </div>
        <div class="content">
            <div class="about_web">
                <center>
                    <h1>Welcome to Student Performance Prediction</h1>
                </center>
                <p>Explore our platform that bridges data and education, offering a comprehensive view of high school
                    students' performance in mathematics. Our dataset, sourced from three distinguished high schools
                    across the United States, provides valuable insights into the factors influencing student outcomes.
                </p>
                <p>Discover the dynamics of academic achievement through key columns such as Gender, Race/Ethnicity,
                    Parental Level of Education, Lunch, Test Preparation Course, and Math, Reading, and Writing Scores.
                    Whether you're a researcher, educator, or enthusiast, our dataset serves as a rich resource for
                    exploring diverse aspects of education.</p>
                <p>From analyzing the impact of parental education to developing machine learning models predicting
                    student performance, our platform opens doors to a world of data-driven insights. Join us on this
                    journey as we pave the way for a brighter educational future.</p>
            </div>
            <br>
            <div class="logins_page" id="login">
                <div class="card mb-3" style="max-width: 100vw;">
                    <div class="row g-0" style="background-color: black; color:aliceblue">
                        <div class="col-md-5 d-flex align-items-center justify-content-center">
                            <img src="../static/image/login.png"
                                style="height: 60vh;" class="img-fluid rounded-start col-lg-12" alt="image">
                        </div>
                        <div class="col-md-7 d-flex align-items-center">
                            <div class="card-body text-center">
                                <h5 class="card-title">Login Page</h5>
                                <p class="card-text">To embark on a personalized educational journey and unlock
                                    exclusive features, we invite you to log in to your account. Dive into the world of
                                    student performance insights tailored just for you. Click the button below to access
                                    the login page and start your exploration. Your educational adventure awaits!</p>
                                <center><button class="btn btn-primary" href='login'>Go to Login Page</button></center>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="register_page" id="register">
                <div class="card mb-3" style="max-width: 100vw;">
                    <div class="row g-0" style="background-color: black; color:aliceblue">
                        <div class="col-md-7 d-flex align-items-center">
                            <div class="card-body text-center">
                                <h5 class="card-title">Register Page</h5>
                                <p class="card-text">Ready to join our educational community and harness the power of
                                    student performance data? Take the first step by creating your account! Click the
                                    button below to navigate to the registration page and embark on a journey of
                                    personalized insights. By registering, you gain access to a wealth of resources
                                    designed to enhance your educational experience. Let's get started on this enriching
                                    adventure together!</p>
                                <center><button class="btn btn-success" href='register'>Go to Register Page</button>
                                </center>
                            </div>
                        </div>
                        <div class="col-md-5 d-flex align-items-center">
                            <img src="../static/image/register.png"
                                style="height: 60vh;" class="img-fluid rounded-start col-lg-12" alt="image">
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="contact">
                <center>
                    <h5>About Us</h5>
                    <p>At Student Performance Prediction, we are passionate about leveraging data to enhance education.
                        Our team of dedicated professionals is committed to providing a platform that fosters research,
                        exploration, and innovation in the field of student performance. Join us on this educational
                        adventure!</p>
                    <h5 href='contact'>Contact Us</h5>
                    <p>Have questions or feedback? We'd love to hear from you! Reach out to our team via the following
                        contact information:</p>
                    <p>Email: contact@studentperformanceprediction.com</p>
                    <p>Phone: +1 (123) 456-7890</p>
                </center>
            </div>
            <div class="footer"></div>
        </div>
        <div id="pagefooter" class="footer">
            <center>
                <p>All Rights &copy reserved to My team</p>
            </center>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>

</html>